* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* added a root directory, so far only colors but I might change that as I go */
:root {
    --darkblue: #445877;
    --lightblue: #92CCCE;
    --gray: #31343D;
    --black: #1C1D21;
    --white:  #eeeef7;
}

/* originally I was changing all this in each container so I added a body to to catch it all */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--black);
}

/* Added flex to the header.  I have the code I started with in another commit.  While it fit the look on my screen it was not applicable for all sizes */
/* This is the code my study group helped me to build and the flex is much nicer */
/* I will add @media later */
/* ALL of this still needs to be cleaned up and reorganized.  There is a fair amount of extra code in here */
header {
    padding: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--gray);
}

header h1 {
    padding-left: .75em;
    font-size: 2em;
    display: inline-block;
    color: var(--gray);;
    background: var(--lightblue);
   
}
nav ul{
    display: flex;
    justify-content: space-between;
}

ul li :hover {
    color: var(--white);
}

/* resume link is not active yet */
nav a {
    flex-wrap: wrap;
    display: inline-block;
    font-size: 1em;
    color: var(--lightblue);
    padding: 1em;
    margin-right: 2em;
    text-decoration: underline;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("./images/pexels-pratik-gupta-2748716.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    color: var(--gray);
    background: var(--lightblue);
    padding: .25em;
    font-size: 1.5em;
    float: right;
    margin: .5em;
    position: absolute;
    bottom: .25em;
    right: 3em; 
}

/* first time working with flex */
/* I would approach the code differently in the future */
/* alt tags on images  */
article {
    display: flex;
    flex-wrap: wrap;
} 

/* switched from em to % for easy flow */
.AboutMe {
    color: var(--darkblue);
    margin-right: 20px;
    padding-right: 3px;
    border-right: 5px solid;
    font-size: 3em;
    width: 24%;
}

article p {
    padding: 1em; 
    padding-top: 3em; 
    font-size: larger;
    width: 50%;
}

main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}

/* I can not figure out how to align the text for #work and #contactme right. Only #aboutme worked */
.boxes {
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 70%;
} 

.Work {
    text-align: right;
    color: var(--darkblue);
    margin-right: 20px;
    padding-right: 3px;
    border-right: 5px solid;
    font-size: 3em;
    width: 24%;
    display: flex; 
    margin-top: 30px;
}

/* first time using background images, I was able to get them to do what I needed */
/* moved the second line of text in the h2 tag and added a line break.  Look back at making it a p tag and addind it back in */
/* find a way to keep the h2 tags inside the backgroud image */
main .surf {
    padding: 8em; 
    width: 80%;
    background-image: url("../assets/images/surf.jpg");
    background-size: cover;
    background-position: center ;
    border: .5em;
    border-style: solid;
    border-color: var(--lightblue);
    position: relative;
    margin-top: 30px;
} 

.surf h2 {
    color: var(--gray);
    background: var(--lightblue);
    padding: .25em;
    font-size: 1.5em;
    float: left;
    margin: .5em;
    position: absolute;
    bottom: .25em;
    left: 3em; 
}

/* better align the images */
/* add links to work section */
main .boats {
    padding: 4em;
    margin: .8em; 
    width: 38%;
    height: 9em;
    background-image: url("../assets/images/boats.jpg");
    background-size: cover;
    background-position: center ;
    border: .5em;
    border-style: solid;
    border-color: var(--lightblue);
    display: flex;
    justify-content: right;
    position: relative;
    
}

.boats h2 {
    color: var(--gray);
    background: var(--lightblue);
    padding: .25em;
    font-size:.5;
    float: left;
    margin: .5em;
    position: absolute;
    bottom: .25em;
    left: 3em; 
}

main .enter {
    padding: 4em;
    margin: .8em;
    width: 38%;
    height: 9em;
    background-image: url("../assets/images/enter.jpg");
    background-size: cover;
    background-position: center ;
    border: .5em;
    border-style: solid;
    border-color: var(--lightblue);
    position: relative;
}

.enter h2 {
    color: var(--gray);
    background: var(--lightblue);
    padding: .25em;
    font-size: .5;
    float: left;
    margin: .5em;
    position: absolute;
    bottom: .25em;
    left: 3em; 
}


main .cloud {
    padding: 4em;
    margin: .8em;
    width: 38%;
    height: 9em;
    background-image: url("../assets/images/cloud.jpg");
    background-size: cover;
    background-position: center ;
    border: .5em;
    border-style: solid;
    border-color: var(--lightblue);
    position: relative;
}

.cloud h2 {
    color: var(--gray);
    background: var(--lightblue);
    padding: .25em;
    font-size: .5;
    float: left;
    margin: .5em;
    position: absolute;
    bottom: .25em;
    left: 3em; 
}

main .car {
    padding: 4em;
    margin: .8em;
    width: 38%;
    height: 9em;
    background-image: url("../assets/images/car.jpg");
    background-size: cover;
    background-position: center ;
    border: .5em;
    border-style: solid;
    border-color: var(--lightblue);
    position: relative;
}

.car h2 {
    color: var(--gray);
    background: var(--lightblue);
    padding: .25em;
    font-size: .5;
    float: left;
    margin: .5em;
    position: absolute;
    bottom: .25em;
    left: 3em; 
}

footer {
    display:flex;
    flex-wrap: wrap;
}

.contactMe {
    color: var(--darkblue);
    margin-right: 20px; 
    padding-right: 3px; 
    border-right: 5px solid;
    font-size: 3em;
    width: 24%;
    display: flex; 
    margin-top: 30px;
}

ul#listOfLinks li {
    display: inline;
}

footer a {
    flex-wrap: wrap;
    display: inline-block;
    font-size: 1.5em;
    color: var(--gray);
    padding: 1em;
    margin-right: 2em;
    text-decoration: underline;
}