* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body {
    background-color: #eeeef7;
}

.header {
    padding: 40px;
    background: #31343d;
    color: #31343d;
    margin-top: auto;
    margin-bottom: auto;
 } 
  
    
.header h1 {
    color: #31343d;
    background: #92ccce;
    padding: 5px;
    float: left;
    font-size: 40px;
    width: 33%;
    height: 90%;
    margin-right: 0px;
    
}

.header a {
    color: #92ccce;
    display: block;
    padding: 7px 8px;
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: right;
}


.hero {
    height: 200px;
    width: 100%;
    background-image: url("./images/pexels-pratik-gupta-2748716.jpg");
    background-size: cover;
    background-position: center;
}

.hero h2 {
    color: #31343d;
    background: #92ccce;
    padding: 20px;
    float: right;
}

article {
    color: #31343d;
    


}